---
// locol imports
import PostHeader from "../components/PostHeader.astro"
import MainLayout from "./MainLayout.astro"

// props
const { frontmatter } = Astro.props

const { title, description, date, author, image, draft, category } = frontmatter
---

<MainLayout {title} {description}>
  <PostHeader {title} {date} {author} {image} {draft} {category} />

  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <p>Side bar</p>
    </div>
  </div>
</MainLayout>
