---
// locol imports
import { getCollection } from "astro:content"
import CategoryCloud from "../components/CategoryCloud.astro"
import PostHeader from "../components/PostHeader.astro"
import { formatBlogPosts } from "../js/utils"
import MainLayout from "./MainLayout.astro"
import RelatedPosts from "../components/RelatedPosts.astro"

// props
const { frontmatter } = Astro.props

const { title, description, date, author, image, draft, category } = frontmatter

const allPosts = await getCollection("posts")
const posts = formatBlogPosts(allPosts)
const relatedPosts = posts.filter(
  (post) =>
    post.category.toLocaleLowerCase() === category.toLowerCase() &&
    post.title.toLocaleLowerCase() !== title.toLowerCase(),
)
---

<MainLayout {title} {description}>
  <PostHeader {title} {date} {author} {image} {draft} {category} />

  <div class="post-content" style="position: relative;">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar sticky">
      <aside class="container" aria-label="Blog Categories">
        <h2 class="h3 center">Blog categories</h2>
        <CategoryCloud />
      </aside>

      {
        relatedPosts && (
          <aside class="container" aria-label="Related posts">
            <h2 class="h3 center">
              Related post{relatedPosts.length > 0 && "s"}
            </h2>
            {relatedPosts.map((post) => (
              <RelatedPosts {post} />
            ))}
          </aside>
        )
      }
    </div>
  </div>
</MainLayout>
